doctype html
    head
        title About Us
        link(rel="stylesheet" href="style.css")
        

        body 
            h1 About Us
            p info about us
            div(id='footer') @ 2018 CanIJustGetInWithWhoeverNeedsMeInTheEnd.inc
