doctype html
    head
        title Dessert Menu
        link(rel="stylesheet" href="menus_style.css")
        

        body 
            h1 Desserts Menu
            p insert menu
            div(id='footer') @ 2018 CanIJustGetInWithWhoeverNeedsMeInTheEnd.inc