doctype html
    head
        title Locations
        link(rel="stylesheet" href="style.css")
        

        body 
            h1 Find Us
            p insert map and address info
            div(id='footer') @ 2018 CanIJustGetInWithWhoeverNeedsMeInTheEnd.inc