doctype html
    head
        title Drinks
        link(rel="stylesheet" href="menus_style.css")
        

        body 
            h1 Drink Menu
            p insert menu
            div(id='footer') @ 2018 CanIJustGetInWithWhoeverNeedsMeInTheEnd.inc