block content

doctype html
head
  title Boring Burgers
  link(rel="stylesheet" href="style.css")
body 
  h1 Boring Burgers
  p stuff and things
  div(id='footer') @ 2018 CanIJustGetInWithWhoeverNeedsMeInTheEnd.inc